@import "../../variables";

.aspect-score {
    color: $font-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 5% 2rem 5%;
    white-space: nowrap;
    .aspect-radar, .review-bar {
        width: 20%;
        min-width: 200px;
        aspect-ratio: 1/.3;
    }
    .filter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 10%;
    gap: 2rem;
    margin: 4rem 0;
    > * {
        margin: auto 0;
    }
    .filter__price {
        padding-top: 1rem;
        .price__input {
            display: flex;
            gap: 1rem;
        }
    }
        .filter-align {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
    }
    select, .select, .date {
        font-family: Raleway;
        text-align-last:center;
        padding-right: 29px;
        direction: rtl;
        width: 100%;
        text-align: center;
        background-color: $beige;
        border: none;
        padding: .5em 1.5em;
        border-radius: 50px;
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
        text-overflow: '';
        position: relative;
        option::selecte {
            text-align: justify;
        }
    }
    .filter__delete {
        h2 {
            visibility: hidden;
        }
    }
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            padding-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
        
        select::before {
            content: "<";
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
}
.text-field {
    background-color: $beige;
    border: none;
    border-radius: 50px;
    height: 1.8rem;
    .MuiInputBase-sizeSmall {
        border-radius: 50px;
        height: 1.8rem;
    }
    .css-mwpvg0-MuiInputBase-root-MuiFilledInput-root {
        padding-bottom: .5rem;
    }
    .css-mwpvg0-MuiInputBase-root-MuiFilledInput-root {
        background-color: inherit;
    }
    .css-mwpvg0-MuiInputBase-root-MuiFilledInput-root:before  {
        display: none;
    }
}
    }
    .aspect__content {
        display: grid;
        grid: 
        "subscription aspect aspect"
        "review aspect aspect"
        "review aspect aspect";
        grid-template-columns: 1.2fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
        width: 100%;
        min-height: 70%;
        > * {
            border-radius: 40px;
            padding: 3em;
        }
        .subscription {
            grid-area: subscription;
            background-color: $blue;
            margin-right: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            button {
                color: $font-color;
                margin-top: auto;
                background-color: transparent;
                border: none;
                font-size: $h4;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .description {
            padding: .5em 0;
        }
        .review {
            margin-right: 2rem;
            grid-area: review;
            background-color: $beige;
            
            .review__header {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
            }
            .review__general {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1em;
                padding-top: 1em;
                .general__score {
                    
                    border: solid $font-color 1px;
                    padding: .2em 1em;
                    border-radius: 50px;
                }
            }
            .review__bar {
                width: 100%;
                aspect-ratio: 1/1;
            }
        }
        .aspect__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .item__score {
                display: flex;
                font-size: $h3;
                margin-top: auto;
                font-weight: 500;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .emphasize {
        font-weight: 600;
    }
}



.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 20%;
    gap: 2rem;
    .filter__price {
        .price__input {
            display: flex;
        }
    }
}

.benchmark__content {
    color: $font-color;
    display: flex;
}

