@import "../../variables";
body {
    margin: 0;
    overflow-x: hidden;
}

.aspect-score {
    color: $font-color;
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 0 5%;
    position: relative;
    .filter, .benchmark {
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, auto);
    width: 100%;
    min-height: 10%;
    gap: 2rem;
    margin: 4rem 0;
    > * {
        margin: auto 0;
        select, .select, button, .price__input {
            width: 100%;
            min-width: 87px;
        }
    }
    .filter__price {
        margin-top: 2rem;
        .price__input {
            width: 100%;
            display: flex;
            gap: 5%;
        }
    }
        .filter-align {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .column {
            flex-direction: column;
        }
    }
    .benchmark > * {
        margin-top: 0;
    }
    .benchmark .filter__price {
        margin-top: 0;
    }
    select, .select, .date {
        color: $font-color;
        font-family: Raleway;
        text-align-last:center;
        padding-right: 29px;
        direction: rtl;
        width: 100%;
        text-align: center;
        background-color: $beige;
        border: none;
        padding: .5em 1.5em;
        border-radius: 50px;
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
        text-overflow: '';
        position: relative;
        option::selecte {
            text-align: justify;
        }
    }
    
    .filter__delete {
        h2 {
            visibility: hidden;
        }
    }
    .stack {
        flex-direction: column;
    }
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            padding-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
        
        select::before {
            content: "<";
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }
        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
}
.column {
    flex-direction: column;
}
.text-field {
    background-color: $beige;
    border: none;
    border-radius: 50px;
    height: 1.8rem;
    .MuiInputBase-sizeSmall {
        border-radius: 50px;
        height: 1.8rem;
    }
    .css-mwpvg0-MuiInputBase-root-MuiFilledInput-root {
        padding-bottom: .5rem;
        color: $font-color;
    }
    .css-mwpvg0-MuiInputBase-root-MuiFilledInput-root {
        background-color: inherit;
    }
    .css-mwpvg0-MuiInputBase-root-MuiFilledInput-root:before  {
        display: none;
    }
}
    }
    h1 {
        margin: 0 auto 2rem auto;
        white-space: normal;
        text-align: center;
    }
    .aspect__content {
        display: grid;
        grid: 
        "subscription aspect aspect"
        "review aspect aspect"
        "review aspect aspect";
        grid-template-columns: 1.2fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
        width: 100%;
        min-height: 70%;
        margin-bottom: 5%;
        > * {
            border-radius: 40px;
            padding: 3em;
        }
        .review {
            grid-area: review;
        }
        .subscription {
            grid-area: subscription;
            background-color: $blue;
            margin-right: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // display: box;
            button {
                color: $font-color;

                margin-top: auto;
                background-color: transparent;
                border: none;
                font-size: $h4;
                font-weight: 600;
                cursor: pointer;
                // font-size: 1.5cqi;
            }
        }
        .description {
            padding: .5em 0;
        }
        .aspect__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .item__score {
                display: flex;
                font-size: $h3;
                margin-top: auto;
                font-weight: 500;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                
            }
            .score-displayed {
                position: relative;
                width: 30%;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                display: box;
                min-width: 50px;
                svg {
                    position: absolute; 
                    width: 100%; 
                    min-width: 200px;
                    height: 100%;
                }
                .aspect__score {
                    margin: auto;
                    font-weight: 600;
                    font-size: 1.5cqi;
                }
            }
        }
    }
    .emphasize {
        font-weight: 600;
    }
}

.review__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.review__general {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    padding-top: 1em;
    .general__score {
        
        border: solid $font-color 1px;
        padding: .2em 1em;
        border-radius: 50px;
    }
}
.review-bar-container {
    display: flex;
}
.review__bar {
    width: 80%;
    aspect-ratio: 1/1.2;
}
.review__bar-data {
    font-size: 11px;
    padding-left: 1rem;
    margin: 1.2rem 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.review-compared {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .review {
        width: 100%;
    }
}
.review {
    margin-right: 2rem;
    background-color: $beige;
    border-radius: 40px;
    padding: 3em;
}

.aspect-radar {
    margin: 0 auto;
    width: 50%;
    aspect-ratio: 1/1;
}

.benchmark .filter__price {
    width: 300px;
    .price__input {
        width: 100%;
        display: flex;
        gap: 5%;
    }
    .text-field {
        width: 100%;
    }
}
.burger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 30px;
    margin: 0 auto;
    scale: .3;
    z-index: 1;
    visibility: hidden;
}


.filter, .benchmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 20%;
    gap: 2rem;
    position: relative;
    .filter__price {
        .price__input {
            display: flex;
        }
    }
}


.navbar {
    position: sticky;
    left: 0;
    top: 0;
    text-align: left;
    width: 20vw;
    height: 100vh;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    white-space: nowrap;
    background-color: $dark-blue;
    color: white;
    .logo {
        width: 100%;
        text-align: center;
        margin: 3rem auto 0 auto;
        font-size: $h1;
        font-weight: 700;
    }
    a {
        color: white;
        text-decoration: none;
        font-family: Raleway;
        font-weight: 500;
    }
    .navbar__section {
        margin: 0 10%;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 8% 12%;
        svg {
            width: 2rem;
            font-size: 1.5rem;
        }
    }
    .navbar__section:has(.active) {
        background-color: white;
        border-radius: 20px;
        a {
            color: black;
        }
        svg {
            color: black;
        }
    }
    .divider {
        width: 20%;
        border-bottom: solid $font-color 1px;
        margin: 0 auto;
        margin: 2rem auto;
    }
    .last {
        margin-bottom: 3rem;
    }
    .navbar__aspect {
        margin: 0 auto;
    }
        button {
            font-size: 1rem;
            background-color: transparent;
            font-family: Raleway;
            color: white;
            border: none;
            font-weight: 500;
    }
}


@media screen and (max-width: 1500px) {
    .aspect-score .filter, .aspect-score .benchmark {
        .center {
            .row {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .navbar {
        width: 0;
        display: none;
    }
    .burger {
        visibility: visible;
    }
    .aspect-score {
        width: 100%;
        
        .aspect__content {
            display: grid;
        grid: 
        "subscription review"
        "aspect aspect"
        "aspect aspect"
        "aspect aspect";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr 1fr;
        }
        .review, .subscription {
            min-height: 0;
        }
        .aspect__item {

        }
    }
    
}
@media screen and (max-width: 872px) {

    .aspect-score {
        .filter, .benchmark {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .aspect__content {
            display: grid;
        grid: 
        "subscription subscription"
        "review review"
        "aspect aspect"
        "aspect aspect"
        "aspect aspect";
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr 1fr;
        }
        .review, .subscription {
            min-height: 0;
        }
        .aspect__item {

        }
    }
    .review-compared {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .review {
            margin: 0;
            margin:5% 5%;
            width: 60%;
        }
    }
    .aspect-radar {
        width: 100%;
    }
    
}

@media screen and (max-width: 550px) {
    .aspect-score {
        padding: 0;
        .filter, .benchmark {
            flex-wrap: nowrap;
            flex-direction: column;
            .filter-price {
                margin-top: 0;
            }
            .placeholder {
                display: none;
            }
        }
        h1 {
        }
        .filter {

        }
    }
}



