$blue: #eff7fa;
$green: #f0faef;
$gradient: linear-gradient(45deg, #b3cde3, #ccebc5);
$beige: #f7f4e9;
$red: #fbf6f0;
$dark-blue: #48484c;
$font-color: #48484c; 

$base-fontsize: 16px;
$scale: 1.333;
$h5: calc($base-fontsize * $scale);
$h4: calc($h5 * $scale);
$h3: calc($h4 * $scale);
$h2: calc($h3 * $scale);
$h1: calc($h2 * $scale);
