@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
@import "./_variables.scss";

body {
    margin: 0;
    font-family: raleway;
    overflow-x: hidden;
}

.App {
    display: flex;
    min-height: 100vh;
}

h1, h2, h3, h4, p, button {
    margin: 0;
    font-family: raleway;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

text {
    font-family: raleway !important;
}

